/*menu + slide*/

.menu-slide {
    background: #eff0f3;
}

.menu__nav {
    padding: 0;
    display: block !important;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product__sidebar-img-wrap {
    display: none;
}

.menu__item {
    padding-left: .15rem;
}

.menu__item-icon {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    margin-right: 1.5rem;
}

.menu__item:hover {
    background: var(--primary-color);
}

.menu__item:hover .menu__link {
    color: var(--white-color);
    background: var(--primary-color);
    text-decoration: none;
    fill: var(--white-color);
}

.menu__item--active .menu__link {
    color: var(--primary-color);
    fill: var(--primary-color);
}

.menu__link {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    color: black;
    display: block;
    padding: 1rem 2.8rem;
    text-decoration: none;
    border-top: 1px solid #eff0f3;
    background: var(--white-color);
    background-clip: padding-box;
    display: flex;
    align-items: center;
}

.menu-slide {
    padding-bottom: 2rem;
}

.slider {
    display: flex;
    margin-top: 2rem;
}

.slide__left {
    margin-right: -0.75rem;
}

.slide__left-img {
    max-width: 100%;
    height: 100%;
}

.slide__left-top {
    max-width: 100%;
}

.slide__left-bottom {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 48.5% 48.5%;
    grid-column-gap: 1.5rem;
}

.slide__left-bottom-one {
    margin-right: 0.75rem;
}

.slide__left-bottom-one-img {
    max-width: 100%;
}

.slide__left-bottom-tow {
    margin-left: 0.75rem;
}

.slide__left-bottom-tow-img {
    max-width: 100%;
}

.slide__right {
    margin-left: -0.75rem;
}

.slide__right-img {
    max-width: 100%;
    height: 94%;
}


/**/


/*bestselling*/

.bestselling {
    padding: 4rem 0;
    background: var(--white-color);
}

.bestselling__heading-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 2rem;
}

.bestselling__heading-img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.bestselling__heading {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--primary-color);
    position: relative;
}

.bestselling__heading::before {
    content: "";
    position: absolute;
    top: 5.4rem;
    left: 50%;
    display: block;
    width: 10rem;
    height: 0.4rem;
    background: var(--primary-color);
    transform: translateX(-50%);
}

.bestselling__product {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;
}

.bestselling__product-img-box {
    width: 15rem;
    height: 16rem;
    margin-right: 1.5rem;
}

.bestselling__product-img {
    max-width: 100%;
    transition: 0.3s;
}

.bestselling__product-text {
    flex: 1;
}

.bestselling__product-link {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    margin-bottom: 1.4rem;
    height: 3.6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.2s;
}

.bestselling__product-link:hover {
    color: var(--black-color);
    text-decoration: none;
}

.bestselling__product-rate {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 0.8rem;
}

.bestselling__product-price {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 500;
}

.bestselling__product-btn {
    width: 10rem;
    height: 3rem;
    border-radius: 0.2rem;
    background: var(--primary-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.2s;
}

.bestselling__product-btn:hover {
    background: #ff2014;
}

.bestselling__banner {
    display: flex;
    justify-content: space-between;
}

.bestselling__banner-left {
    flex: 1;
}

.bestselling__banner-left-img {
    width: 100%;
}

.bestselling__banner-right {
    flex: 1;
}

.bestselling__banner-right-img {
    width: 100%;
    margin-right: 0;
}


/**/

.product {
    background: #efefef;
    padding: 3rem 0;
}

.product__sidebar-heading {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.2rem;
    background: var(--primary-color);
    border-top-left-radius: 4px;
    margin-bottom: 2rem;
}


/*.product__sidebar-img {
    width: 3rem;
    height: 4rem;
}*/

.product__sidebar-title {
    font-size: 1.8rem;
    color: var(--white-color);
    margin-left: 4rem;
    fill: var(--white-color);
    display: flex;
    align-items: center;
}

.product__sidebar-list {
    background: var(--white-color);
    /*display: flex;
    align-items: center;
    justify-content: space-around;*/
    width: 100%;
    padding: 2rem 0.6rem;
}

.product__sidebar-item {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 2.4rem;
}

.product__sidebar-item-img {
    max-width: 8rem;
    max-height: 8rem;
    transition: 0.3s;
}

.product__sidebar-item-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    margin-top: 0.8rem;
}

.product__sidebar-item-name:hover {
    color: var(--black-color);
    text-decoration: none;
}

.product__sidebar-img-wrap {
    margin-top: 2rem;
}

.product__sidebar-img {
    width: 100%;
}

.product__list {
    height: 4.2rem;
    list-style: none;
    background: var(--white-color);
    border-top: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2rem;
    width: 100%;
}

.product__link {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
    margin-right: 2rem;
    position: relative;
}

.product__link:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.4rem;
    background: var(--primary-color);
    top: -70%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.product__item--active .product__link:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.4rem;
    background: var(--primary-color);
    top: -70%;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeIn ease-in 0.3s;
}

.product__item:hover .product__link {
    color: var(--primary-color);
    text-decoration: none;
}

.product__item:hover .product__link:before {
    display: block;
}

.product__panel {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2.2rem;
}

.product__panel-item {
    margin-bottom: 2rem;
    padding: 0 0.75rem;
    cursor: pointer;
}

.product__panel-item-wrap {
    background: var(--white-color);
    padding: 1rem 1.5rem;
    position: relative;
}

.product__panel-price-sale-off {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    position: absolute;
    top: 1.4rem;
    left: 1rem;
    color: var(--white-color);
}

.product__panel-img-wrap {
    width: 100%;
    height: 16.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__panel-img {
    max-width: 100%;
    transition: 0.3s;
}

.product__panel-img:hover,
.product__sidebar-item-img:hover,
.bestselling__product-img:hover {
    transform: scale(1.1);
}

.product__panel-link {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
    display: block;
    margin-top: 3.5rem;
    transition: 0.2s;
    height: 3.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product__panel-link:hover {
    color: var(--black-color);
    text-decoration: none;
}

.product__panel-rate-wrap {
    text-align: right;
    margin: 1rem 0;
}

.product__panel-rate {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 1.2rem 0;
}

.product__panel-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__panel-price-old {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: line-through;
}

.product__panel-price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
}


/*product love*/

section.product__love {
    background: #efefef;
    padding-bottom: 6rem;
}

.product__love-title {
    margin: 1.6rem 0;
}

.product__love-heading {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.product__panel-price-old-hide {
    display: none;
}

.product__love .product__panel-item {
    margin-bottom: 2rem;
    cursor: pointer;
    padding: 0 1.6rem;
}


/*.product__love .row{
    background: var(--white-color);
}*/


/*post*/

.posts__heading {
    padding: 3.2rem;
    color: var(--primary-color);
    text-align: center;
    border-bottom: 1px solid #ccc;
    display: block;
    position: relative;
}

.posts__heading::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 10rem;
    height: 0.3rem;
    background: var(--primary-color);
    transform: translate(-50%, -90%);
}

.posts__list {
    margin-top: 0.8rem;
}

.posts__item-img {
    height: 20rem;
}

.posts__item-img img {
    width: 100%;
    max-width: 100%;
    height: 19rem;
}

.posts__item-title {
    font-size: 1.5rem;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 4.4rem;
}

.posts__item-title:hover {
    color: var(--black-color);
    text-decoration: none;
}

.posts__item-date {
    font-size: 1.2rem;
    color: var(--text-color);
}

.posts__item-cate-wrap {
    display: flex;
    margin: 0.8rem 0;
}

.posts__item-cate {
    display: flex;
    margin-right: 1.6rem;
}

.posts__item-cate-icon,
.posts__item-cate-ad-icon {
    font-size: 1.5rem;
    color: #888;
    margin-right: 0.5rem;
}

.posts__item-cate-name,
.posts__item-cate-ad-name {
    font-size: 1.3rem;
    color: var(--text-color);
}

.posts__item-cate-ad {
    display: flex;
}

.posts__item-description {
    font-size: 1.4rem;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}

.posts__view {
    margin: 3.8rem auto;
    justify-content: center;
}

.posts__view-btn {
    padding: 0.6rem 1.8rem;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
}

.posts__view-btn:hover {
    color: var(--white-color);
    opacity: 0.8;
    text-decoration: none;
}

.fex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/**/

.product__title-mobile {
    margin: 0 auto;
}

.product__title-mobile h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.4rem;
}

@media (max-width:992px) {
    .product__sidebar {
        display: none;
    }
    .menu-slide {
        display: none;
    }
    /*.header__search{
        display: none;
    }*/
}

@media (max-width:768px) {
    .hide-on-mobile {
        display: none;
    }
    .bestselling__banner {
        display: none;
    }
    .product__title-mobile {
        display: block;
    }
}

@media (min-width:768px) {}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

.modal__body {
    z-index: 10001;
}

.sale-off {
    top: 150px;
    left: 500px;
    width: 500px;
    border-radius: 5px;
    background: #efefef;
    background: linear-gradient(#fff, #fafafa);
    background-size: cover;
    overflow: hidden;
    padding: 3rem;
    position: relative;
    display: block !important;
}

.sale-off__container {
    padding-bottom: 22px;
    text-align: center;
}

.sale-off__heading {
    color: var(--text-color);
    line-height: 3rem;
    word-spacing: 0.8rem;
    margin-top: 1.4rem;
    font-family: 'Paytone One', sans-serif;
}

.sale-off__sp {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 700;
}

.sale-off__name {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 700;
}

.sale-off__link {
    text-decoration: none;
}

.sale-off__btn {
    margin-top: 0.5rem;
    padding: 0.6rem 2rem;
    outline: none;
    border: none;
    box-shadow: inset 0 2rem 2.5rem 0.5rem var(--primary-color);
    color: var(--white-color);
    font-size: 1.6rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.sale-off__btn:hover {
    background: var(--primary-color);
}

.sale-off__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #666;
    cursor: pointer;
}

.main__modal {
    display: block;
}

.sale-off__close-icon {
    fill: #ccc;
}